


@import './base.css';

.header{
    position:sticky;
    top:0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 0;
}

.header .logo{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.header .logo img{
    width:30px;
}

.header .logo a {
    color:var(--mainColor);
}
.header .nav a {
    color: black;

}
.header .auth a {
font-family:var(--subFont);
padding:10px 30px;
border-radius: 10px;

}

.header .auth a:first-of-type {
    border:1px solid var(--mainColor);
    color:var(--mainColor);
   margin-right: 10px;

  
}


.header .auth a:last-of-type {
    background-color:var(--mainColor);
    color:#fff ;
}

.nav ul{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.active{
    font-weight: 900;
}

@media (max-width:992px){
    body{
        .nav{
            display: none;
        }
    }

}
.footer{
    background-color:rgb(56, 56, 68);
    color:#fff;
    padding: 50px 0;
}

.footer .row{
    gap: 40px;
}

.footer a{
    color: #fff;
}

.footer-left-side,.footer-right-side{
    width: calc( (100% - 40px) / 2);
   
}

.footer-left-side{
    display: flex;
flex-wrap: wrap;  
flex-direction: column;
gap: 30px;

}
.footer .footer-left-side .logo{

    display: flex;
    flex-wrap: wrap;  
    gap: 10px;
    align-items: center;
}
.footer .footer-left-side .logo img{
    width: 20px;
}

.footer .footer-left-side .logo a{
   font-size: 14px;
}

.footer .footer-left-side .icons {

    display: flex;
     
    gap: 20px;

    flex-wrap: wrap; 
}



.footer .footer-left-side .icons img {
    border: 1px solid #fff; 
    padding: 10px;
    width: 15px;
    height: 15px;
    box-sizing: content-box;

}
.footer-right-side .row{

justify-content: space-evenly;
align-items: flex-start;

}
.footer-right-side .footer-item{

    display: flex;
    flex-wrap: wrap;  
    flex-direction: column;
    gap: 30px; 
}